h1 {
  font-size: 34px;
  color: #15215a;
}
mat-card {
  width: 70%;
}
span {
  font-size: 23px;
  font-weight: 300;
  color: #15215a;
}
label {
  color: #2339a6;
  font-size: 14px;
  font-weight: 600;
  line-height: 20.4px;
  text-decoration: non solid rgb(35, 57, 166);
}

mat-form-field {
  width: 90%;
  height: 20px;
}
.modal {
  border-radius: 20px;
}
.cacher {
  width: 60px;
  height: 30px;
  font-size: 11px;
  font-weight: 300;
}
strong {
  color: #2339a6;
  font-size: 14px;
  font-weight: 600;
  line-height: 20.4px;
  text-decoration: non solid rgb(35, 57, 166);
}
