h1 {
  font-size: 21px;
  font-weight: 600;
  color: #5163be;
}
h2 {
  font-weight: 600;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

h3 {
  font-weight: 600;
  font-size: 15px;
  color: #5163be;
}
hr {
  color: #5163be;
}

.total2 {
  border: 1px solid #5163be;
  width: 150px;
  transform: rotate(-30deg);
}
.container {
  width: 700px;
}
