<div id="mySidenav" class="sidenav">
  <div class="logo" class="text-center">
    <img src="assets/logo.svg" width="50" height="50" />
  </div>
  <div class="text-center pt-3">
    <a href="#">Acceuil</a>
  </div>
  <div class="text-center pt-3">
    <a href="#">Factures</a>
  </div>
  <div class="text-center pt-3 pb-5">
    <a href="#">Service</a>
  </div>
  <div class="text-center pt-5">
    <a href="#">logout</a>
  </div>
  <div class="text-center pt-3">
    <a href="#">contact</a>
  </div>
</div>
