article {
  display: block;
}
._36sPNRDIF34e9-pHAGyAzo {
  flex-flow: row;
  max-width: 28rem;
  margin: 0 auto 3rem;
  height: 500px;
}

.fWlVwblijkvNGDY_5KDTu {
  min-width: 4.5rem;
  max-width: 4.5rem;
  padding: 1.5rem 1rem;
  background-color: rgba(35, 57, 166, 0.1);
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  text-align: center;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
mat-card {
  width: 100%;
}
