<header class="Hero">
  <nav class="Nav container mb-5">
    <ul class="left">
      <li>
        <a title="Acceuil" class="logo" href="/">
          <img src="/assets/logo.svg" width="50" height="50" />
          <span class="text">Fatoura</span>
        </a>
      </li>
    </ul>
    <ul class="right">
      <li class="p-2">
        <a href="#features" class="link">Fonctionnalités </a>
      </li>
      <li class="p-2">
        <a routerLink="/home/signUp" title="Connexion" class="link"
          >Se Connecter
        </a>
      </li>
      <li class="p-2">
        <a
          routerLink="/home/auth"
          title="Application"
          class="button btn btn-light"
          >S'inscrire</a
        >
      </li>
    </ul>
  </nav>
  <div class="container text-center mt-5">
    <h1>Votre application de facturation</h1>
    <p>Factures, Devis ou Fiches de Paie? Nous vous avons couverts!</p>
    <a
      href="https://app.fatouraenligne.tn?src=Hero"
      class="btn btn-lg btn-outline-primary"
      >Commencer !
    </a>
    <div class="hero-image-wrapper pt-5">
      <img src="assets/hero.jpg" />
    </div>
  </div>
</header>

<section class="TopFeatures container mt-5 text-center pt-5">
  <header>
    <h2>Qu'est-ce nous offrons de nouveau ?</h2>
  </header>
  <div class="row">
    <div class="col-md-4 feature">
      <img src="/static/images/icons/cyan/Favorite.png" alt="" />
      <p class="description">
        L'application est rapide et intuitive. Vos documents sont générés<!-- -->
        <strong>sur-le-champ</strong>.
      </p>
    </div>
    <div class="col-md-4 feature">
      <img src="/static/images/icons/cyan/Wallet.png" alt="" />
      <p class="description">
        Vous ne payez rien. Le service est entièrement<!-- -->
        <strong>gratuit</strong>.
      </p>
    </div>
    <div class="col-md-4 feature">
      <img src="/static/images/icons/cyan/Cloud-Check.png" alt="" />
      <p class="description">
        Vous n'aurez pas a nous fournir vos informations personnelles pour
        pouvoir <strong>créer et télécharger</strong> vos documents.
      </p>
    </div>
  </div>
</section>

<section id="features" class="FeaturesWithImages">
  <div class="container">
    <header><h2>Pourquoi utiliser Fatoura ?</h2></header>
    <section class="FeatureWithImage row">
      <div class="col-md-4">
        <h3>Interface Moderne et Intuitive</h3>
        <p>
          En quelques minutes d'utilisation, vous saurez combien
          <strong>Fatoura</strong> est facile à utiliser.
        </p>
      </div>
      <div class="col-md-8">
        <img src="/static/images/jpg/hero.jpg" alt="" />
      </div>
    </section>
    <section class="FeatureWithImage row left">
      <div class="col-md-4">
        <h3>Application Adaptif</h3>
        <p>
          Avec <strong>Fatoura</strong>, rien ne vous empêche de créer vos
          documents. Smartphone, tablette ou autre.
          <strong>On est compatible!</strong>
        </p>
      </div>
      <div class="col-md-8">
        <img
          src="/_next/static/images/mobile-shot-b869859954d246094e633cd61a8f8a47.jpg"
          alt=""
        />
      </div>
    </section>
    <section class="FeatureWithImage row overflow">
      <div class="col-md-4">
        <h3>De Jolis Documents</h3>
        <p>
          Envoyer vos documents tout en être confiant d'impressionner vos
          clients.
        </p>
      </div>
      <div class="col-md-8">
        <img src="/static/images/jpg/pdf.jpg" alt="" />
      </div>
    </section>
  </div>
</section>

<section class="CallToActionHero">
  <div class="container">
    <div class="wrapper">
      <div class="content">
        <h2>Moins d'une minute!</h2>
        <p>
          C'est le temps que vous passerez pour créer et envoyer une facture à
          votre client. Cela ne vous prendra que quelques clicks. Essayer
          maintenant ?
        </p>
        <a
          href="https://app.fatouraenligne.tn?src=callToActionHero"
          class="btn btn-lg btn-outline-primary"
          >ESSAYER !</a
        >
      </div>
    </div>
  </div>
</section>

<section class="Footer">
  <div class="container">
    <div class="sections row">
      <section class="col-md-4">
        <img src="/static/images/logo-inverted.svg" class="logo" />
        <h4>Produits</h4>
        <ul>
          <li>
            <a href="https://app.fatouraenligne.tn/invoices?src=Footer"
              >Factures</a
            >
          </li>
          <li>
            <a href="https://app.fatouraenligne.tn/estimates?src=Footer"
              >Devis</a
            >
          </li>
        </ul>
      </section>
      <section class="col-md-4">
        <h4>Connexion</h4>
        <ul>
          <li>
            <a href="https://app.fatouraenligne.tn/auth/signin?src=Footer"
              >Se Connecter</a
            >
          </li>
          <li>
            <a href="https://app.fatouraenligne.tn/auth/signup?src=Footer"
              >S'inscrire</a
            >
          </li>
        </ul>
      </section>
      <section class="col-md-4">
        <h4>Autre</h4>
        <ul>
          <li>
            <a href="https://app.fatouraenligne.tn/contact?src=Footer"
              >À propos de nous</a
            >
          </li>
          <li>
            <a href="https://app.fatouraenligne.tn/contact?src=Footer"
              >Contact</a
            >
          </li>
        </ul>
      </section>
    </div>
    <div class="social">
      <a href="https://www.facebook.com/fatouraenligne.tn"
        ><img src="/static/images/svg/facebook.svg" alt=""
      /></a>
    </div>
    <div class="copyright">Copyright © 2019 Fatoura</div>
  </div>
</section>
