<div class="container ml-5 mt-5 text-center">
  <h1>Factures</h1>
  <h2 class="pt-2">
    Dessus, vous trouvez à tableau listant tout vos factures. Cliquer sur les
    boutons respectives pour les consulter ou modifier.
  </h2>
  <div class="card mb-3 ml-5">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div>
          <h4 class="card-title m-0">
            <span>Liste des Factures</span>
          </h4>
          <div class="text-muted">2 documents</div>
        </div>
        <div class="d-flex align-items-center">
          <a class="btn btn-light" routerLink="/home/invoice"
            ><i class="icomoon-plus-1 mr-2"></i><span>Ajouter</span></a
          >
        </div>
      </div>
    </div>
    <div class="NuQy6szBlRQm3dW-ZtTlw">
      <table class="table table-bordered table-striped table-borderless m-0">
        <thead class="primary">
          <tr>
            <th></th>
            <th><span>Société</span></th>
            <th><span>Client</span></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="media">
                <div class="media-icon">
                  <i class="typcn typcn-document-text"></i>
                </div>
                <div class="media-body">
                  <h5 class="mt-0">
                    <span class="_2lSok9lB1GxdQYvOrc99Cx price-tag"
                      ><span class="_3v5IcNbkeNYNN0C3XNCdpG">93,373</span
                      ><sup>DT</sup></span
                    >
                  </h5>
                  <p class="mt-0 mb-1 text-nowrap">
                    <i class="icomoon-file-text-1 mr-2 text-muted"></i>FCT Nov.
                    2020 - 0001
                  </p>
                  <p class="mt-0 mb-1 text-nowrap text-capitalize">
                    <i class="icomoon-calendar-3 mr-2 text-muted"></i
                    ><span>vendredi 06 nov. 2020</span>
                  </p>
                  <p class="mt-0 text-nowrap mb-0 text-nowrap">
                    <i class="icomoon-pencil-2 mr-2 text-muted"></i
                    ><span>il y a 12 minutes</span>
                  </p>
                </div>
              </div>
            </td>
            <td>
              <span class="badge badge-standout badge-secondary">test</span>
            </td>
            <td>
              <span class="badge badge-standout badge-secondary">test</span>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <a
                  class="btn btn-outline-primary"
                  href="/invoices/33626012-ae0d-4ae6-86c8-82097e8d90e0/show"
                  ><span>Consulter</span></a
                ><a
                  class="btn btn-outline-dark"
                  href="/invoices/33626012-ae0d-4ae6-86c8-82097e8d90e0/edit"
                  ><span>Modifier</span></a
                >
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="media">
                <div class="media-icon">
                  <i class="typcn typcn-document-text"></i>
                </div>
                <div class="media-body">
                  <h5 class="mt-0">
                    <span class="_2lSok9lB1GxdQYvOrc99Cx price-tag"
                      ><span class="_3v5IcNbkeNYNN0C3XNCdpG">0,000</span
                      ><sup>DT</sup></span
                    >
                  </h5>
                  <p class="mt-0 mb-1 text-nowrap">
                    <i class="icomoon-file-text-1 mr-2 text-muted"></i>FCT Oct.
                    2020 - 0001
                  </p>
                  <p class="mt-0 mb-1 text-nowrap text-capitalize">
                    <i class="icomoon-calendar-3 mr-2 text-muted"></i
                    ><span>vendredi 16 oct. 2020</span>
                  </p>
                  <p class="mt-0 text-nowrap mb-0 text-nowrap">
                    <i class="icomoon-pencil-2 mr-2 text-muted"></i
                    ><span>il y a 21 jours</span>
                  </p>
                </div>
              </div>
            </td>
            <td>
              <span class="badge badge-standout badge-secondary">test</span>
            </td>
            <td>
              <span class="badge badge-standout badge-secondary">test</span>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <a
                  class="btn btn-outline-primary"
                  href="/invoices/994b63ec-aacf-494e-9c0e-a48f89b4574b/show"
                  ><span>Consulter</span></a
                ><a
                  class="btn btn-outline-dark"
                  href="/invoices/994b63ec-aacf-494e-9c0e-a48f89b4574b/edit"
                  ><span>Modifier</span></a
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
