h1 {
  font-size: 34px;
  font-weight: 300px;
  color: #15215a;
}
h2 {
  font-size: 13.6px;
  line-height: 20.4px;
  color: #5c757d;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
}
._2lSok9lB1GxdQYvOrc99Cx {
  color: #dc3545;
}
thead.primary th {
  color: #fff;
  background-color: #2339a6;
  border-color: #111c52;
}
h5 {
  font-size: 1.0625rem;
}
.badge.badge-secondary {
  color: #15215a;
  background-color: rgba(108, 117, 125, 0.1);
}
.badge-standout {
  font-size: 0.85rem;
  padding: 0.5rem 1rem;
}
h4 {
  font-size: 1.275rem;
}
tn-light {
  color: #212529;
  background-color: #f6f8fa;
  border-color: #f6f8fa;
}
